.hero-unit
  h1 Valuetown Fantasy
  p(style="padding-bottom: 24px;") We make tools for Fantasy Owners and Commissioners.  For more information about what we do, reach out to jawone87 at gmail 
  a(style="text-decoration: none;", href="/list/players")
    btn.btn-success.btn-large Click Here to Launch the 2012 Baseball Sortable Rankings
