!!!
html
  head
    title Valuetown 2012
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    style
      body { padding-top: 48px }
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href="/") Valuetown 2012
    .container-fluid
      .row-fluid
        body!= body
